*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}
body{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url(movie.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
} 
.containar{
    height: auto;
    width: 60%;
    background: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 20px 20px;
    margin: auto;
}

.containar h1{
    color: white;
    margin-top: 20px;
    position: absolute;
    top: 02%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display:block;

}
.containar p{
    color: white;
    margin-top: 30px;
    font-size: 18px;
    padding: 4px;
}
.btn{
    background:no-repeat;
    padding: 14px 0;
    outline: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin-top: 80px;
    width: 50%;
    font-size: large;
    transition: 0.3s ease;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50% ,-50%);

}
.btn:hover{
    background-color: #fff;
    color: black;
}